{{ define "title" }}
Helm
{{ end }}

{{ define "main" }}
{{ $home := site.BaseURL }}

<div id="helm" class="page-wrapper page-home page-404">
  <header>
    {{ partial "banner.html" . }}
    {{ partial "nav.html" . }}
    {{ partial "nav-fixed.html" . }}
  </header>

  <section class="home-intro hero">
    <article>
      <img src="/img/helm.svg" class="logo" alt="Helm" />
      <h1>
        {{ T "404_title" | markdownify }}
      </h1>
      <h2>
        {{ T "404_subtitle" | markdownify }}
      </h2>
    </article>

    {{ partial "boat.html" . }}
  </section>
</div> <!-- / #helm .page-home -->

{{ partial "footer-links.html" . }}

{{ end }}
{{ define "footer" }}
{{ end }}
