{{ define "title" }}
Helm
{{ end }}

{{ define "main" }}
{{ $home := site.BaseURL }}

<div id="helm" class="page-wrapper page-home">
  <header>
    {{ partial "banner.html" . }}
    {{ partial "nav.html" . }}
    {{ partial "nav-fixed.html" . }}
  </header>

  <section class="home-intro hero">
    <article>
      <a href="/" class="logo">
        <img src="/img/helm.svg" alt="Helm" />
      </a>
      <h1>
        {{ T "404_title" | markdownify }}
      </h1>
      <h2>
        {{ T "404_subtitle" | markdownify }}
      </h2>
    </article>

    {{ partial "boat.html" . }}
  </section>

  {{ partial "footer-links.html" . }}
  
</div> <!-- / #helm .page-home -->

{{ end }}
{{ define "footer" }}
{{ end }}