{{ $langCode := site.LanguageCode | default "en-us" }}
{{ $isHome   := .IsHome }}
{{ $home     := site.BaseURL }}
<!DOCTYPE html>
<html lang="{{ $langCode }}">
  <head>
    <title>
      {{ block "title" . }}
      Helm | {{ .Title }}
      {{ end }}
    </title>

    {{ partial "header.html" . }}
  </head>

  <body id="landing"{{ if $isHome }} class="home"{{ end }}>
    {{ block "main" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ end }}

    {{ partial "js.html" . }}
    {{ partial "google-analytics.html" . }}
  </body>
</html>
