

.footer-links {
  margin-left: $sidebarWidth;
  background: 
    url('/img/topography.png') repeat top left,
    linear-gradient(180deg, darken($navy, 3.5%) 0%, $navy 100%);
  background-blend-mode: color-burn;
  background-attachment: fixed;
  padding: 2rem 3.5vw 1.5rem;
  max-width: 100%;

  hr {
    background-color: $blue1;
  }

  .copyright {
    p {
      color: $grey1;

      a {
        color: $blue1;

        &:hover {
          color: $blue2;
        }
      }
    }
  }

  dl {
    font-family: 'Space Mono';
    padding-bottom: 2rem;

    dt,
    dd {
      color: lighten($blue3, 12.5%);
      @include klinicReg;
      font-family: 'Space Mono';
    }
    dt {
      @include klinicBold;
      margin: 1.2rem 0;
      color: black;

      a {
        color: lighten($blue3, 12.5%);
        @include wave;

        &:hover {
          color: lighten($blue3, 50%);
        }
      }
    }

    dd {
      margin: 0 0 0.5rem;
      
      a {
        color: white;
        line-height: 1.5;
        display: inline-block;
        background-color: transparent !important;
        border-bottom: 2px solid transparent;
        @include wave;
      }
  
      em {
        color: darken($light2, 25%);
        font-style: normal;
        font-size: 0.7rem;
        padding-left: 0.333sem;
      }
    }
  }
}


.contrib-text {
  p {
    color: white;
    font-size: 1rem;
    margin: 0 auto;
    padding-left: 2rem;

    &.lead {
      font-size: 1.2rem;
      margin: 2rem auto 3rem;
      position: relative;
      line-height: 4;

      &:after {
        content: " ";
        display: block;
        width: 14%;
        position: absolute;
        bottom: -1.25rem;
        left: 43%;
        height: 5px;
        background: $grey1;
        opacity: 0.25;
      }
    }

    img {
      max-height: 24px;
      margin: -2px 0 0 22px;
    }

    a {
      color: white;
      font-weight: bold;
    }
  }
}

.cncf-wrap {
  min-height: 2rem;
  text-align: center;

  img {
    max-width: 10rem;
    min-width: 20vw;
    margin: 1.25rem 1.667vw;
  }

  p {
    margin: 1.5vw 2.5% 0 0;
    display: inline-block;
    color: white;
    font-size: 1.125vw;
    font-weight: bold;

    &:hover {
      color: $blue2;
    }
  }
}
