.content-wrapper {
  padding-top: 1em;
  padding-bottom: 10em;
  font-size: $scalex5;
  font-weight: normal;
  line-height: 1.5;
  z-index: 500;
  position: relative;
  @include klinicReg;

  h1 {
    margin-top: 1em;
    padding-top: 2.5em;
    padding-bottom: 1.5rem;
  }

  article {
    padding: 2em 0 0;
    overflow:auto;

    h1 {
      font-size: $scalex8;
      color: $navy;
      margin: 1em 0 1em;
      padding-top: 4.5em;
    }
  }

  h2 {
    color: $navyl;
    font-size: $scalex7;
    @include klinicBold;
    letter-spacing: 0.01rem;
    margin: 0 0 0.875em;
    padding-top: 3.5em;
  }

  h3 {
    color: $grey4;
    @include klinicBold;
    margin: 3em 0 1.825em;

    pre,
    code {
      padding: 0 0.2em;
      background: lighten($light2, 1%);
      font-weight: bold;
      font-size: 1.35rem;

    }
  }

  h4 {
    font-size: $scalex5;
  }

  h1, h2, h3, h4, p, ul, ol, blockquote {
    max-width: 75rem;
  }

  p {
    color: $grey4;
    margin: 0.825rem 0 1.667rem;
    font-size: $scalex5;

    &:first-child {
      font-size: $scalex6;
      color: $grey4;
      line-height: 1.575;
      margin-bottom: 1.925rem;
      padding-right: 7.5%;
    }

    a {
      padding-left: 0.35em;
      padding-right: 0.35em;
    }
  }

  .quick-links {
    padding-top: 5rem;

    h3 {
      color: $blue;

      &:hover {
        color: $blue;
      }
    }
    
    .quick-item {
      position: relative;
      display: block;
      clear: both;
      padding: 1rem 1rem 1.5rem;
      background: transparent;

      &:hover {
        color: $blue4;
        border-bottom: none;
      }

      &:after {
        height: 2px;
        background: desaturate(lighten($blue1, 35%), 20%);
        width: 100%;
        display: block;
        content: " ";
        position: absolute;
        top: 1px;
      }

      h4 {
        display: inline-block;
        float: left;
        clear: both;
        color: $blue4;
        font-size: 1.125em;
        width: 30%;
      }
      p {
        display: inline-block;
        float: right;
        text-align: left;
        width: 58%;

      }
    }
  }

  .helm-commands > .quick-item h4 {
    width: auto;
  }

  &.markdown pre,
  pre {
    border: none;
    padding: 0.75em 1em;
    margin: 0.25em 0 2.5em;
    font-size: 1rem;
    line-height: 1.636;
    border-left: 2px solid $yellow;

    code {
      padding: 0;
      background: transparent;
      font-size: 1rem;
    }
  }

  .code-box {
    margin: 0px;
    width: 100%;
    height: 220px;
    overflow: auto;
  }

  strong {
    letter-spacing: 0.0125em;
  }

  code {
    padding: 0.5em 0.5em;
    border: none;
    font-size: 1rem;
  }

  &.markdown ul,
  &.markdown ol,
  ul,
  ol {
    padding: 0 0.25rem;
    margin-bottom: 2em;
    color: $grey4;
    font-size: $scalex4;
    line-height: 1.7;

    li {
      font-size: 1.125em;

      a {
        padding-left: 0.35em;
        padding-right: 0.35em;
      }
    }
  }

  ul {
    list-style: disc;
    color: $navy;
    font-size: $scalex5;

    li {
      padding-bottom: 0.25em;
      color: $grey4;
      line-height: 1.85;
      font-size: $scalex5;
    }

    li::before {
      // content: "\2022";
      // color: $navy;
      // padding-bottom: 0.5em;
    }
  }

  table {
    margin: 1.5rem 0;
    border: none;
    width: 100%;

    th,
    td {
      border: none;
      vertical-align: top;
      text-align: left;
      padding: 0.425em 0.75em 0.425em 0.2em;
      width: auto;
    }

    td {
      color: $grey4;
      font-size: $scalex4;
    }
  }

  a {
    color: $navyd;
    background: lighten($blue, 40%);
    @include transition;

    &:hover {
      color: darken($navyd, 5%);
      border-bottom: 2px solid $navyd;
      background: lighten($salmon, 15%);
    }
  }

  .quick-links {
    padding-top: 5rem;
  
    h3 {
      color: $blue;
      text-align: center;
    }
    .quick-item {
      position: relative;
      display: inline-block;
      width: 100%;
      clear: both;
      padding: 1rem 1rem 1.5rem;
      background: transparent;
  
      &:hover {
        color: $blue4;
        border-bottom: none;
      }
  
      &:after {
        height: 2px;
        background: desaturate(lighten($blue1, 35%), 20%);
        width: 100%;
        display: block;
        content: " ";
        position: absolute;
        top: 1px;
      }
  
      h4 {
        display: inline-block;
        float: left;
        clear: both;
        color: $blue4;
        font-size: 1.125em;
        width: 30%;
      }
      p {
        display: inline-block;
        float: right;
        text-align: left;
        width: 58%;
      }
    }
  }

  .header-link {
    position: absolute;
    left: -0.4em;
    opacity: 0;
    font-size: 1rem;
    padding-top: 0.333em;
    @include transition(all, 0.3s, ease-in-out);

    &:hover {
      border-bottom: none;
      background-color: transparent;
    }
  }

  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {

    .header-link {
      opacity: 1;
      left: -0.825em;
    }
  }

  img {
    box-shadow: 0 0 3px $grey1;
    padding: 0.5em;
    background-color: white;
    max-width: 100%;
    margin-bottom: 0.75em;

    &:hover {
      @include box-shadow(0, 0, 4px, $grey2);
    }
  }

  iframe,
  embed,
  .youtube-player {
    min-height: 320px;
  }
}

a {
  color: $navy;
}

a.external {
  position: relative;
  @include transition;
  
  .icon {
    position: absolute;
    margin-top: -0.5em;
    margin-right: -0.5em;
    opacity: 0;
    font-size: 0.825em;
  }

  &:hover {
    .icon {
      opacity: 1;
    }
  }
}