html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: white;
  background-position: static;
  background-attachment: fixed;
}

.main {
  min-height: 760px;
}

.sidebar {
  min-height: 100%;
}

.container-full {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 300px;
  width: 100%;
}

.sidebar {
  width: 25%;
  width: 300px;
}


.main .content-wrap {
  .quick-links {
    padding-top: 5rem;

    h3 {
      color: $blue;
    }
    .quick-item {
      position: relative;
      display: block;
      clear: both;
      padding: 1rem 1rem 1.5rem;
      background: transparent;

      &:hover {
        color: $blue4;
        border-bottom: none;
      }

      &:after {
        height: 2px;
        background: desaturate(lighten($blue1, 35%), 20%);
        width: 100%;
        display: block;
        content: " ";
        position: absolute;
        top: 1px;
      }

      h4 {
        display: inline-block;
        float: left;
        clear: both;
        color: $blue4;
        font-size: 1.125em;
        width: 30%;
      }
      p {
        display: inline-block;
        float: right;
        text-align: left;
        width: 58%;

      }

    }
  }
}