#banner {
  background: white;
  color:$navy;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  margin: 0;
  text-align: center;
  z-index: 850;

  p {
    color: $navy;
    padding: 0.75rem 0;
  }

  a {
    color: $navy;
  }
}

.navbar-top {
  z-index: 800;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 4.5rem;
  background: transparent;

  &.navbar-top-fixed {
    position: fixed;
    left: 8px;
    right: 8px;
    top: -108px;
    padding-top: 0;
    background: url('/img/topography.png') left top repeat;
    background-attachment: fixed;


    &.is-active {
      display: block;
      top: 8px;
    }
  }

  a {
    padding: 1em;
    color: $blue4;
    font-size: 1.125rem;
    @include klinicBold;
  }
}

.navbar-brand {
  a {
    position: absolute;
    top: 5rem;
    left: 5rem;

    svg {
      width: 10rem;
    }
  }
}

.home {
  .navbar-brand {
    display: none;
  }
}

.navbar-menu {
  a {
    padding: 1.5rem 3vw;
    color: $navy;
  }
}


.navbar-burger {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
}

.docs .navbar-burger {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}


.home,
.blog {
  .versioner {
    display: none;
  }
}

.navbar-end {
  // position: absolute;
  // right: 0;
  
  .versioner {
    em {
      font-size: 0.7em;
      position: absolute;
      bottom: 0;
    }

  }
}

  // ul {

  //   li {
  //     display: inline-block;
  //     margin: 0 0.75rem;
  //   }
  // }

//   .versioner {
//     padding: 0 !important;
//     margin: 0 0 -1px !important;
//     display: none;
    
//     a.versioner-trigger {
//       padding-left: 1.667rem;
//       padding-right: 2rem;
//       background-color: lighten($blue1, 45%);
//       min-width: 10rem;
//       display: inline-block;
//     }
//   }

//   // versioning dropdown
//   ul.f-dropdown {
//     position: absolute;
//     top: 0;
//     right: 0;
//     padding: 0;
//     text-align: left;
//     min-width: auto;

//     &.f-open-dropdown {
//       left: auto !important;
//       right: 0 !important;
//       top: 80px !important;
//     }
    
//     li {
//       margin: 0;
//       display: block;
      
//       a {
//         margin: 0;
//         color: $blue3;
//         text-align: left;
//         font-size: 1rem;
//         padding: 0.825rem 1rem;
//         min-height: 1rem;

//         em {
//           color: $grey2;
//           font-family: monospace;
//           font-size: 0.825em;
//           font-style: normal;
//           font-weight: normal;
//           padding-left: 0.5rem;
//         }
        
//         &.active {
//           font-weight: bold;
//         }
//       }
//     }
//   }
// }

// .docs {
//   .navbar-top .versioner {
//     display: inline-block;
//   }
// }

// .left-off-canvas-toggle {
//   z-index: 1100;
//   position: fixed;
//   top: 0;
//   left: 0;

//   img {
//     padding: 1.425em 0.925em;
//     color: $grey4;
//   }
// }

// offset banner center when there is a left nav space
// .blog-layout .main.blog,
// .sidebar + .main {
//   nav.top-bar #banner {
//     margin-left: -300px;
//   }

//   h1.blog-logo {
//     top: 30px;
//   }
// }