
// mobile style
@media only screen and (max-width: 64.063em) {
  html,
  body,
  #helm {
    width: 100vw !important;
    overflow-x: hidden;
  }

  // mobile menu
  .navbar-burger {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1300;

    &.is-active {
      color: white;
      background-color: $dark;
      position: fixed;
    }
  }

  // .navbar-top-fixed.is-active,
  .navbar-brand,
  .navbar-menu,
  .navbar-top.navbar-top-fixed.is-active {
    display: none !important;
  }

  .navbar-top:not(.navbar-top-fixed) {
    .navbar-menu.is-active {
      background-color: $navyd;
      display: flex !important;
      left: auto !important;
      margin: 0 !important;
      position: fixed;
      top: 0;
      padding: 1.5rem 15vw 5rem 5vw;
      z-index: 1100;

      a.navbar-item {
        padding: 0.75rem 4vw;
        color: white;
      }
    }
  }

  .page-docs {
    #banner {
      display: none;

      &.is-active {
        display: block;
        top: 8.75rem;
        position: fixed;
        z-index: 1220;
        border-top: 1px solid $navyl;
        border-bottom: 1px solid $navyl;
        background: $navyl;
        
        p {
          padding: 0.25rem 0;
        }
      }

      a, p {
        color: white;
      }
  
      p small {
        font-size: 3.33vw;
      }
    }

    .navbar-top {
      padding-top: 0;
      min-height: 3rem;
    }
  }

  // docs sidebar layout
  .sidebar-wrapper {
    display: none;

    &.is-active {
      display: block;
    }
  }
  .page-docs .content-docs {
    padding-left: 0;
    padding-top: 3rem;
  }

  .page-docs .content-docs {
    padding-left: 0;
    padding-right: 0;
  }

  // content sizes
  .content-wrapper {
    max-width: 90vw !important;
    padding: 0 5vw 3rem;

    h1 {
      font-size: 7.5vw;
      padding-top: 1rem;
    }

    p {
      font-size: 4vw;
    }

    p, ol, ul, dl, blockquote {
      padding-right: 0;
    }

    .quick-links {
      .quick-item {
        border: 1px solid $navyl;
        min-height: 7.25rem;
        padding: 1rem 1.5rem;
        background: $light1;
        margin-bottom: 0.5em;
        
        h4 {
          font-size: 4vw;
          width: 100%;
          margin: 0;
        }
        p {
          width: 100%;
          font-size: 3.25vw;
          line-height: 1.6;
        }

        &.nav-dropdown {
          display: none !important;
        }
      }
    }
  }

  // algolia search
  .st-default-autocomplete {
    width: 90% !important;
    min-width: 320px !important;
    left: 5% !important;
  }

  .cncf {
    padding-top: 2rem;
    padding-bottom: 2rem;

    img,
    p {
      float: none;
      min-width: 80%;
      margin: 1.5rem auto;
    }

    img {
      min-width: 10%;
      max-width: 40vw;
    }
  }

  .footer-links {
    margin-left: 0;

    p.lead {
      font-size: 1rem;
    }
  }
}