.top-bar {
  perspective: 800px;
  min-height: 5.125em;
  transform-style: preserve-3d;
  background: white;
  border-bottom: 1px solid lighten($blue1, 35%);
  transition: transform 200ms linear;
  position: fixed;
  left: 300px;
  right: 0;
  top: 30px;
  z-index: 1000;

  ul {
    min-width: 33.333%;
    margin-right: 0;
    margin-top: -0.5rem;
    padding-right: 3.5%;

    li {
      display: inline-block;
      margin: 0 0.75rem;

      a {
        padding: 1em;
        color: $blue4;
        font-size: 1.125rem;
        @include klinicBold;

        img {
          padding-right: 0.333em;
          max-height: 1.2rem;
        }
      }

      &.nav-dropdown {
        padding: 0 !important;
        margin: 0 0 -1px !important;
        display: none;
        
        a.nav-dropdown-trigger {
          padding-left: 1.667rem;
          padding-right: 2rem;
          background-color: lighten($blue1, 45%);
          min-width: 10rem;
          display: inline-block;
        }
      }

      &:last-child,
      &:nth-last-child(2) {
        margin-right: -1rem;
      }
    }
  }

  .breadcrumb {
    position: absolute;
    top: 0;
    left: 1em;
    z-index: 1030;
    line-height: 1.5;
    font-size: $scalex3;
    letter-spacing: 0.05em;

    a {
      padding: 0.333em 0;
      margin: 0.575em 0 0.575em 0.5em;
      float: left;
      text-transform: capitalize;
      font-size: 1.5rem;
      color: $blue3;
      letter-spacing: -0.125rem;
      @include klinicReg;
      @include transition;

      &:hover {
        color: $blue1;
      }

      &:before {
        content: '/';
        display: inline-block;
        width: 0.75em;
        height: 2em;
        margin: 0 0 0 -0.2em;
        color: $grey1;
      }

      &:first-child:before {
        display: none;
      }
    }
  }

  // versioning dropdown
  ul.f-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    text-align: left;
    min-width: auto;

    &.f-open-dropdown {
      left: auto !important;
      right: 0 !important;
      top: 80px !important;
    }
    
    li {
      margin: 0;
      display: block;
      
      a {
        margin: 0;
        color: $blue3;
        text-align: left;
        font-size: 1rem;
        padding: 0.825rem 1rem;
        min-height: 1rem;

        em {
          color: $grey2;
          font-family: monospace;
          font-size: 0.825em;
          font-style: normal;
          font-weight: normal;
          padding-left: 0.5rem;
        }
        
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}

.docs {
  .top-bar ul li.nav-dropdown {
    display: inline-block;
  }
}

.left-off-canvas-toggle {
  z-index: 1100;
  position: fixed;
  top: 0;
  left: 0;

  img {
    padding: 1.425em 0.925em;
    color: $grey4;
  }
}

// offset banner center when there is a left nav space
.blog-layout .main.blog,
.sidebar + .main {
  nav.top-bar #banner {
    margin-left: -300px;
  }

  h1.blog-logo {
    top: 30px;
  }
}


#banner {
  background: $blue4;
  color: white;
  position: static;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -30px;
  text-align: center;
  z-index: 1150;

  p {
    color: white;
  }

  a {
    color: white;
  }
}
