#banner {
  background: $light2;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  z-index: 850;

  p {
    color: $navy;
    padding: 0.75rem 0 1rem;
  }

  a {
    color: $navyl;
    @include ripple;
  }
}

.navbar-top {
  z-index: 800;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 4.5rem;
  min-height: 8.75rem;
  background: transparent;
  display: flex;
  justify-content: center;
  @include transition;

  &.navbar-top-fixed {
    position: fixed;
    left: 8px;
    right: 8px;
    top: -120px;
    padding-top: 0;
    min-height: 5.25rem;
    background: url('/img/topography.png') left top repeat;
    background-attachment: fixed;
    z-index: 1140;

    &.is-active {
      display: block;
      top: 8px;
    }

    li.versioner {
      right: 16.67vw;
    }
  }

  a.navbar-item {
    color: $navy;
    font-size: 1.125rem;
    @include ripple;
    @include klinicBold;
    padding: 1.75rem 2vw;

    &:hover {
      background-color: lighten($salmon, 12.5%);
    }
  }

  .navbar-menu {
    align-items: center;
    justify-content: center;
  }

  a.button {
    margin: 1rem 3vw;
    background-color: rgba(255,255,255,0.5);
    font-size: 1.125rem;
    position: absolute;
    height: 3rem !important;
    right: 1rem;
    padding: 1rem 2.25vw;
    border-color: $navy;
    color: $navy;

    &:hover {
      background-color: $navyl;
      color: white;
      border-color: $navyl;
    }
  }

  li.versioner {
    padding: 1rem 0.5rem 0 !important;
    margin: 0 0 -1px !important;
    position: absolute;
    right: 11.5vw;
    // display: none;
    
    a.versioner-trigger {
      background: rgba(255,255,255,0.5);
      min-width: 8rem;
      padding: 0.76rem 1.2rem;
      display: inline-block;
      text-align: left;
      position: relative;
      color: $navyl;
      @include klinicBold;
      @include border-radius;
      letter-spacing: 0;
      border: 1px solid darken($light2, 5%);
      overflow: visible;
    }
  
    // versioning dropdown
    ul.dropdown-menu {
      position: absolute;
      top: 4rem;
      right: 0;
      padding: 0;
      margin: 0 0 0 1rem;
      text-align: left;
      min-width: 12.5rem;
      
      li {
        margin: 0;
        display: block;
        
        a.navbar-item {
          margin: 0;
          color: $blue3;
          text-align: left;
          font-size: 1rem;
          padding: 0.5rem 1rem;
          min-height: 1rem;
          line-height: 1.8;
          display: block;
  
          em {
            color: $grey2;
            font-family: monospace;
            font-size: 0.825em;
            font-style: normal;
            font-weight: normal;
            padding-left: 0.5rem;
          }
          
          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }
}

a.button.not-fixed {
  margin-right: -1.5rem;
}

.navbar-brand {
  a {
    position: absolute;
    top: 5rem;
    left: 5rem;

    svg {
      width: 10rem;
    }
  }
}


// Modifiers

  // Home
  .home {
    .navbar-top-fixed .container {
      margin-left: 0;
      margin-right: 0;
    }
    
    .navbar-brand {
      display: none;
    }
  }

  .home,
  .blog {
    .versioner {
      display: none;
    }
  }


  // Docs

// .navbar-end {
//   position: absolute;
//   right: 0;
//
// }

  // ul {

  //   li {
  //     display: inline-block;
  //     margin: 0 0.75rem;
  //   }
//   }
// }

// .docs {
//   .navbar-top .versioner {
//     display: inline-block;
//   }
// }

// .left-off-canvas-toggle {
//   z-index: 1100;
//   position: fixed;
//   top: 0;
//   left: 0;

//   img {
//     padding: 1.425em 0.925em;
//     color: $grey4;
//   }
// }

// offset banner center when there is a left nav space
// .blog-layout .main.blog,
// .sidebar + .main {
//   nav.top-bar #banner {
//     margin-left: -300px;
//   }

//   h1.blog-logo {
//     top: 30px;
//   }
// }