.page-home {

}

.home-intro {
  min-height: 90vh;
  background: url('/img/topography.png') left top repeat;
  background-attachment: fixed;

  .logo img {
    position: absolute;
    top: 15vw;
    left: 20vw;
    width: 15vw;
  }

  h1 {
    font-size: 3.5vw;
    position: absolute;
    top: 15vw;
    left: 45vw;
    max-width: 40vw;
    letter-spacing: 0.2rem;

    span {
      display: block;
    }
  }
}