<footer class="row helm-contrib-logos">
  <div class="small-12 medium-12 large-12 columns text-center">
    <img src="{{site.baseurl}}/assets/images/helm-logo.svg" style="max-width: 140px;" alt="Helm is supported by and built with a community of over 250 contributors" class="helm-logo">

    <hr>
    <p class="contributors">Helm is supported by and built with a community of over 250 developers.</p>
    <hr>

    <div class="row helm-contrib-logos contrib-logos-1">
      <a target="_blank" href="http://microsoft.com/"><img src="{{site.baseurl}}/assets/images/logowall/microsoft.png" alt="Microsoft"></a>
      <a target="_blank" href="https://google.com/"><img src="{{site.baseurl}}/assets/images/logowall/google.png" alt="Google"></a>
      <a target="_blank" href="https://codefresh.io/"><img src="{{site.baseurl}}/assets/images/logowall/codefresh.png" alt="Codefresh"></a>
      <a target="_blank" href="https://bitnami.com/"><img src="{{site.baseurl}}/assets/images/logowall/bitnami.png" alt="Bitnami"></a>
      <a target="_blank" href="https://www.ticketmaster.com/"><img src="{{site.baseurl}}/assets/images/logowall/tm.png" alt="Ticketmaster"></a>
      <a target="_blank" href="https://www.codecentric.de"><img src="{{site.baseurl}}/assets/images/logowall/codecentric.png" alt="codecentric AG"></a>
    </div>

    <p><small>...and many other wonderful <a href="https://github.com/kubernetes/helm/blob/master/OWNERS" target="_blank">helm</a> and <a href="https://github.com/kubernetes/charts/blob/master/OWNERS" target="_blank">charts</a> core maintainers.</small></p>
  </div>
</footer>