<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else if %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ page.title }}{% endif %}">

  <!-- twitter card-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@opendeis" />
  <meta name="twitter:site" content="@opendeis" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:image" content="https://deis.com/assets/images/helm-logo.png" />

  <link rel="alternate" type="application/rss+xml" title="Deis Sitemap" href="//deis.com/sitemap.xml" />

  <link rel="stylesheet" href="{{ '/assets/css/app.min.css' | prepend: site.baseurl }}" />
  {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
  {% else %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  {% endif %}
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png">
</head>
