.DS_Store
.jekyll-metadata
rootfs/svc
.sass-cache/
_site/*
_site/
.ncurc.yml
.publish/*
.publish/
node_modules/
bower_components/
vendor/
rootfs/
app/*
source/*
static/*
content/docs/
helm.sh/
docs.helm.sh/