[build]
  command = "make build"
  publish = "app"

[build.environment]
  HUGO_VERSION = "0.138.0"
  HUGO_ENABLEGITINFO = "true"

[context.production.environment]
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "make build-preview"

[context.branch-deploy]
  command = "make build-preview"

# redirect docs homepage
[[redirects]]
  from = "https://docs.helm.sh/"
  to = "https://helm.sh/docs/"

# redirect docs subpages
[[redirects]]
  from = "https://docs.helm.sh/*"
  to = "https://helm.sh/docs/:splat"

[[redirects]]
  from = "/docs/developing_charts/"
  to = "https://v2.helm.sh/docs/developing_charts/"

# redirect Go package lookups
[[redirects]]
  from = "/helm/v3/*"
  to = "/helm/v3"
  status = 200

[[redirects]]
  from = "/helm/v2/*"
  to = "/helm/v2"
  status = 200

[[redirects]]
  from = "/calendar/release"
  to = "https://calendar.google.com/calendar/u/0/embed?src=8tji8e0obp5skr2pval9g55ftk@group.calendar.google.com"
  status = 302

[[redirects]]
  from = "/v4-launch-party-sponsorship"
  to = "https://docs.google.com/document/d/10cyzggPiLeLz169cDF1UaUMmM4uZx6rO3Bw9rRQRjJA/edit?usp=sharing"
  status = 302
