[build]
  command = "make build"
  publish = "app"

[build.environment]
  HUGO_VERSION = "0.65.3"
  HUGO_ENABLEGITINFO = "true"

[context.production.environment]
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "make build-preview"

[context.branch-deploy]
  command = "make build-preview"

# redirect docs homepage
[[redirects]]
  from = "https://docs.helm.sh/"
  to = "https://helm.sh/docs/"

# redirect docs subpages
[[redirects]]
  from = "https://docs.helm.sh/*"
  to = "https://helm.sh/docs/:splat"

[[redirects]]
  from = "/docs/developing_charts/"
  to = "https://v2.helm.sh/docs/developing_charts/"
