.home {
  position: relative;
  min-height: 1200px;

  box-sizing: border-box;
  height: 100%;

  .home-intro-wrap {
    box-sizing: border-box;
    height: 100%;

    @mixin boat-animation-rules($startX, $startY, $endX, $endY) {
      $crest: -7px;
      $trough: -12px;
      @keyframes animatedBoat {
        0%    { background-position: $startX $startY; bottom: $crest;}
        10%   { bottom: $trough; }
        20%   { bottom: $crest; }
        30%   { bottom: $trough; }
        40%   { bottom: $crest; }
        50%   { bottom: $trough; }
        60%   { bottom: $crest; }
        70%   { bottom: $trough; }
        80%   { bottom: $crest; }
        90%   { bottom: $trough; }
        100%  { background-position: $endX $endY; bottom: $crest; }
      }
      @-moz-keyframes animatedBoat {
        0%    { background-position: $startX $startY; bottom: $crest;}
        10%   { bottom: $trough; }
        20%   { bottom: $crest; }
        30%   { bottom: $trough; }
        40%   { bottom: $crest; }
        50%   { bottom: $trough; }
        60%   { bottom: $crest; }
        70%   { bottom: $trough; }
        80%   { bottom: $crest; }
        90%   { bottom: $trough; }
        100%  { background-position: $endX $endY; bottom: $crest; }
      }
      @-webkit-keyframes animatedBoat {
        0%    { background-position: $startX $startY; bottom: $crest;}
        10%   { bottom: $trough; }
        20%   { bottom: $crest; }
        30%   { bottom: $trough; }
        40%   { bottom: $crest; }
        50%   { bottom: $trough; }
        60%   { bottom: $crest; }
        70%   { bottom: $trough; }
        80%   { bottom: $crest; }
        90%   { bottom: $trough; }
        100%  { background-position: $endX $endY; bottom: $crest; }
      }
      @-ms-keyframes animatedBoat {
        0%    { background-position: $startX $startY; bottom: $crest;}
        10%   { bottom: $trough; }
        20%   { bottom: $crest; }
        30%   { bottom: $trough; }
        40%   { bottom: $crest; }
        50%   { bottom: $trough; }
        60%   { bottom: $crest; }
        70%   { bottom: $trough; }
        80%   { bottom: $crest; }
        90%   { bottom: $trough; }
        100%  { background-position: $endX $endY; bottom: $crest; }
      }
      @-o-keyframes animatedBoat {
        0%    { background-position: $startX $startY; bottom: $crest;}
        10%   { bottom: $trough; }
        20%   { bottom: $crest; }
        30%   { bottom: $trough; }
        40%   { bottom: $crest; }
        50%   { bottom: $trough; }
        60%   { bottom: $crest; }
        70%   { bottom: $trough; }
        80%   { bottom: $crest; }
        90%   { bottom: $trough; }
        100%  { background-position: $endX $endY; bottom: $crest; }
      }
    }

    $boat-animation: animatedBoat 10s linear infinite;
    $source-font: $base;
    $inconsolata-font: 'Inconsolata', Fixed, monospace;
    $vertical-margin: 25%;
    $footer-padding: 4em;
    $mobile-maximum-width: 414px;
    $tablet-maximum-width: 768px;
    $boat-size: 220px;
    $gutter: 20px;
    $normalWeight: 400;
    $lightWeight: 300;
    $titleFontSize: 54px;
    $bodyFontSize: 18px;
    $helmLogoHeight: 79px;
    $helmLogoWidth: 170px;
    $fishSize: 210px;
    $fishDepth: 150px;
    $deisLogoWidth: 125px;
  }

  h1 {
    text-transform: none;
    font-size: $scalex8;
    letter-spacing: 0.05em;
    margin: 5em 7.5% 5em;
    padding: 0.75em 0.825em;
    cursor: pointer;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 0.075em solid $blue3;
  }
}
