<div class="tweet">
  <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr">The Deis team is working on a packager manager for <a href="https://twitter.com/hashtag/kubernetes?src=hash">#kubernetes</a>. Think homebrew but for distributed applications. <a href="https://t.co/9uLp7ManZS">https://t.co/9uLp7ManZS</a></p>&mdash; Kelsey Hightower (@kelseyhightower) <a href="https://twitter.com/kelseyhightower/status/659153885362323456">October 27, 2015</a></blockquote>
</div>
<div class="tweet">
  <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr">Really like the thinking behind Deis Helm: <a href="https://t.co/coQGTcqYCk">https://t.co/coQGTcqYCk</a>. Applying &quot;packaging&quot; to config like this is a unique approach.</p>&mdash; Joe Beda (@jbeda) <a href="https://twitter.com/jbeda/status/659155495802900480">October 27, 2015</a></blockquote>
</div>
<div class="tweet">
  <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr">I tweeted about a centralized repo for distributed apps, looks like <a href="https://twitter.com/opendeis">@opendeis</a> is already working on such thing! 👍 <a href="https://t.co/DJygCygkN1">https://t.co/DJygCygkN1</a></p>&mdash; Antoine Cotten (@AntoineCotten) <a href="https://twitter.com/AntoineCotten/status/659628683448213504">October 29, 2015</a></blockquote>
</div>
<div class="tweet">
  <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/chuhnk">@chuhnk</a> <a href="https://twitter.com/asynchio">@asynchio</a> we have a package manager now (<a href="https://t.co/cBf88hqPhn">https://t.co/cBf88hqPhn</a>) so the sky is the limit...</p>&mdash; Hack gone Ops (@milosgajdos) <a href="https://twitter.com/milosgajdos/status/659705690701873152">October 29, 2015</a></blockquote>
</div>
<div class="tweet">
  <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr">Helm is a stupid-good idea: <a href="https://t.co/3fyDg4a7MS">https://t.co/3fyDg4a7MS</a> This kind of thing should make the benefits of Kubernetes/Mesos obvious to everyone.</p>&mdash; Eric Florenzano (@ericflo) <a href="https://twitter.com/ericflo/status/659187273313816576">October 28, 2015</a></blockquote>
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



