/**
 * Main units and mixins
 */
$boat-animation: animatedBoat 10s linear infinite;
$source-font: Source Sans Pro, Helvetica, sans-serif;
$inconsolata-font: 'Inconsolata', Fixed, monospace;
$vertical-margin: 25%;
$footer-padding: 4em;
$mobile-maximum-width: 414px;
$tablet-maximum-width: 768px;
$boat-size: 220px;
/**
 * End main units
 */

/**
 * Mixins
 */
@mixin boat-animation-rules($startX, $startY, $endX, $endY) {
  @keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: -7px;}
    10%   { bottom: -12px; }
    20%   { bottom: -7px; }
    30%   { bottom: -12px; }
    40%   { bottom: -7px; }
    50%   { bottom: -12px; }
    60%   { bottom: -7px; }
    70%   { bottom: -12px; }
    80%   { bottom: -7px; }
    90%   { bottom: -12px; }
    100%  { background-position: $endX $endY; bottom: -7px; }
  }
  /*@-moz-keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: -7px;}
    10%   { bottom: -12px; }
    20%   { bottom: -7px; }
    30%   { bottom: -12px; }
    40%   { bottom: -7px; }
    50%   { bottom: -12px; }
    60%   { bottom: -7px; }
    70%   { bottom: -12px; }
    80%   { bottom: -7px; }
    90%   { bottom: -12px; }
    100%  { background-position: $endX $endY; bottom: -7px; }
  }
  @-webkit-keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: -7px;}
    10%   { bottom: -12px; }
    20%   { bottom: -7px; }
    30%   { bottom: -12px; }
    40%   { bottom: -7px; }
    50%   { bottom: -12px; }
    60%   { bottom: -7px; }
    70%   { bottom: -12px; }
    80%   { bottom: -7px; }
    90%   { bottom: -12px; }
    100%  { background-position: $endX $endY; bottom: -7px; }
  }
  @-ms-keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: -7px;}
    10%   { bottom: -12px; }
    20%   { bottom: -7px; }
    30%   { bottom: -12px; }
    40%   { bottom: -7px; }
    50%   { bottom: -12px; }
    60%   { bottom: -7px; }
    70%   { bottom: -12px; }
    80%   { bottom: -7px; }
    90%   { bottom: -12px; }
    100%  { background-position: $endX $endY; bottom: -7px; }
  }
  @-o-keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: -7px;}
    10%   { bottom: -12px; }
    20%   { bottom: -7px; }
    30%   { bottom: -12px; }
    40%   { bottom: -7px; }
    50%   { bottom: -12px; }
    60%   { bottom: -7px; }
    70%   { bottom: -12px; }
    80%   { bottom: -7px; }
    90%   { bottom: -12px; }
    100%  { background-position: $endX $endY; bottom: -7px; }
  }*/
}
/**
 * End mixins
 */


 // Fonts
 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700|Inconsolata:400,700);
 @mixin sourceFont {
   font-family: 'Source Sans Pro', Helvetica, sans-serif;
   font-weight: 400;
 }
 @mixin inconsolataFont {
   font-family: 'Inconsolata', Fixed, monospace;
   font-weight: 400;
 }


 body {
   @include sourceFont;
   background: url('/images/pattern_topo.png') left top repeat;
   background-size: 376px;
   font-size: 18px;
   line-height: 1.5;
   text-align: center;
 }


// Main Header
.main-header {
  padding: 1.5rem 0;
  .logo {
    background: url('/images/logo-withdeis.png') left center no-repeat;
    background-size: 100%;
    float: left;
    height: 79px;
    max-width: 170px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    @media only screen and (max-device-width: $mobile-maximum-width) {
      background: no-repeat center/100% url('/images/logo-withdeis.png');
      float: none;
      width: 100%;
    }
  }
   nav {
     float: right;
     @media only screen and (max-device-width: $mobile-maximum-width) {
       float: none;
     }
     padding: 1rem 0;
     @media only screen and (max-device-width: $mobile-maximum-width) {
       padding-top: 20px;
     }
   }
}


// Fixed Header
.fixed-header {
  background-color: $lightBlue;
  border-bottom: 1px solid darken($lightBlue, 8);
  padding: 1rem 0;
  position: fixed;
  top: -100px;
  transition: all 0.15s;
  visibility: hidden;
  width: 100%;
  z-index: 10;

  .logo {
    background: url('/images/logo.png') left center no-repeat;
    background-size: 100%;
    height: 60px;
    margin: 0 auto;
    max-width: 60px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }

  .container {
    padding: 0 1rem;
  }

  &.-show {
    @media only screen and (min-device-width: $mobile-maximum-width + 1) {
      top: 0;
      visibility: visible;
    }
  }
}


// Billboard
.billboard {
  @media only screen and (min-device-width: $mobile-maximum-width + 1) {
    padding: 80px 0 0 0;
  }
  position: relative;
  text-align: center;

  h1, h2 {
    color: $darkBlue;
    font-weight: 400;
  }
  @media only screen and (min-device-width: $mobile-maximum-width + 1) {
    h1 {
      font-size: 54px;
    }
  }
  h2 {
    font-size: 21px;
    max-width: 800px;
    margin: {
      right: auto;
      left: auto;
    }
    strong {
      font-size: 1.2em;
    }
    @media only screen and (max-device-width: $mobile-maximum-width) {
      margin-top: 1em;
    }
  }

  // water
  &:after {
    background: url('/images/pattern_waves.png') left top repeat-x;
    background-size: 20px;
    bottom: 0;
    content: '';
    display: block;
    height: 6px;
    position: absolute;
    width: 100%;
  }
}

@media only screen and (min-device-width: $mobile-maximum-width + 1) {
  aside.description {
    > p {
      padding-top: 20px;
    }
    > h2 + p {
      padding-top: 0;
    }
  }
}

// Steps
.code-steps__item {
  padding: 30px 0;
  @media only screen and (max-device-width: $mobile-maximum-width) {
    padding-bottom: 0;
  }
  .description {
    text-align: left;
    @media only screen and (min-device-width: $mobile-maximum-width + 1) {
      float: left;
      padding: 1rem;
      width: 33.33%;
    }

    h2 {
      font-size: 32px;
      @media only screen and (min-device-width: $mobile-maximum-width + 1) {
        margin: {
          top: 0;
        }
      }
    }
  }
  .console {
    @media only screen and (min-device-width: $mobile-maximum-width + 1) {
      float: left;
      padding: 1rem;
      width: 66.66%;
    }

    code {
      background-color: $white;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      color: #444;
      display: block;
      margin-top: 10px;
      padding: 1rem;
      text-align: left;
      overflow: scroll;
      white-space: nowrap;
      line-height: 1em;
      @media only screen and (max-device-width: $mobile-maximum-width) {
        margin-top: 20px;
        font-size: 0.75em;
      }
    }

    .line {
      display: block;
      margin-bottom: 0.5rem;
      @media only screen and (min-device-width: $mobile-maximum-width + 1) {
        font-size: 0.875em;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .code-term {
      background-color: #F7F7F9;
      border: 1px solid #ddd;
      border-radius: 3px;
      color: $pink;
      display: inline-block;
      font-family: monospace, serif;
      font-size: 0.875em;
      padding: 0 0.35em;
      line-height: 1.5;
    }
  }

  &:last-child {
    .console {
      background: url('/images/fish.png') center bottom no-repeat;
      background-size: 210px;
      padding-bottom: 150px;
      @media only screen and (max-device-width: $mobile-maximum-width) {
        padding-bottom: 120px;
        margin-bottom: 20px;
      }
    }
  }
}

#coming-soon {
  .marquee {
    font-size: 1.5em;
    font-style: italic;
    padding-top: 2em;
  }

  .logo {
    display: inline-block;
    padding-top: 1em;
    padding-right: 10px;
    &+.logo {
      position: relative;
      bottom: 1em;
      padding-right: 0;
    }
  }
  @media only screen and (max-device-width: $mobile-maximum-width) {
    padding-bottom: 50px;
  }
}

#waves {
  background-image: url("/images/waves.png");
  height: 22px; //TODO programmatize this!
}

#water {
  background-color: #37B0E7;
}

.panel.panel--contribute {
  background-color: #f2f2f2;
  @media only screen and (max-device-width: $mobile-maximum-width) {
    padding: 20px 0 30px 0;
  }

  h2 {
    color: $darkBlue;
    font-size: 40px;
    @media only screen and (min-device-width: $mobile-maximum-width + 1) {
      margin-bottom: 0.5rem;
    }
  }
  p {
    font-size: 21px;
  }
  .buttons {
    margin-top: 30px;
    @media only screen and (max-device-width: $mobile-maximum-width) {
      margin-top: 20px;
    }
  }
  .button {
    font-size: 18px;
    margin: 0.5rem;
  }
}

.main-footer {
  background: $darkBlue url('/images/pattern_topo_white.png') left top repeat;
  background-size: 376px;
  color: #fff;
  @media only screen and (max-device-width: $mobile-maximum-width) {
    padding: 20px 0;
  }

  .small-text {
    font-size: 14px;
    margin-bottom: 1rem;
    @media only screen and (max-device-width: $mobile-maximum-width) {
      margin-bottom: 0.5rem;
    }
  }

  .logo {
    max-width: 125px;
  }
}


#contribute {
  overflow: auto;
  background-color: $white;
  color: $darkBlue;
  padding-top: $footer-padding;
  padding-bottom: $footer-padding;
  .heading {
    font-size: 2em;
    font-weight: 400;
  }
  .description {
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 1em;
    font-weight: 400;
  }
  .buttons {
    > * {
      display: inline-block;
      padding-right: 2em;
    }
    > *:last-child {
      padding-right: 0;
    }
  }
}

#footer {
  background-image: url("/images/topo-inverse.png");
  > * {
    padding-top: $footer-padding;
  }
  > *:last-child {
    padding-bottom: $footer-padding;
  }
}

@media only screen and (min-device-width: $mobile-maximum-width + 1) {
  @include boat-animation-rules(-$boat-size, 25%, 145%, 0);
}

#boat {
  height: 2em;
  @media only screen and (min-device-width: $mobile-maximum-width + 1) {
    background: url('/images/boat.png') no-repeat;
    background-size: $boat-size;
    height: 169px; //TODO programmatize this!
    position: relative;
    bottom: -13px;

    -moz-animation: $boat-animation;
    -webkit-animation: $boat-animation;
    -ms-animation: $boat-animation;
    -o-animation: $boat-animation;
    animation: $boat-animation;
    -webkit-animation-duration: 20s;
    -moz-animation-duration: 20s;
    -ms-animation-duration: 20s;
    -o-animation-duration: 20s;
    animation-duration: 20s;
  }
}

// Panels
.panel {
  @media only screen and (min-device-width: $mobile-maximum-width + 1) {
    padding: 75px 0;
  }

  h2 {
    font-size: 32px;
  }

  &.-blue {
    background-color: $lightBlue;
    color: $white;
  }
}


// Buttons
a.button, button {
  background-color: $lightBlue;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;

  .icon {
    font-size: 1.25em;
    &.-right {
      margin-left: 5px;
    }
    &.-left {
      margin-right: 5px;
    }
  }
  &:hover {
    background-color: lighten($lightBlue, 10);
  }

  &.-cta {
    background-color: $pink;

    &:hover {
      background-color: lighten($pink, 10);
    }
  }

  &.-outline {
    background-color: transparent;
    border: 1px solid $lightBlue;
    color: $lightBlue;

    &:hover {
      background-color: transparent;
      border-color: lighten($lightBlue, 15);
      color: lighten($lightBlue, 15);
    }

    &.-pink {
      border-color: $pink;
      color: $pink;

      &:hover {
        background-color: $pink;
        color: #fff;
      }
    }
  }

  &.-secondary {
    background-color: #ccc;

    &:hover {
      background-color: lighten(#ccc, 7);
    }
  }
}
