/**
 * Main units and mixins
 */
$boat-animation: animatedBoat 10s linear infinite;
$source-font: Source Sans Pro, Helvetica, sans-serif;
$inconsolata-font: 'Inconsolata', Fixed, monospace;
$vertical-margin: 25%;
$footer-padding: 4em;
$mobile-maximum-width: 414px;
$tablet-maximum-width: 768px;
$boat-size: 220px;
$gutter: 20px;
$normalWeight: 400;
$lightWeight: 300;
$titleFontSize: 54px;
$bodyFontSize: 18px;
$helmLogoHeight: 79px;
$helmLogoWidth: 170px;
$fishSize: 210px;
$fishDepth: 150px;
$deisLogoWidth: 125px;
/**
 * End main units
 */

/**
 * Mixins
 */
@mixin boat-animation-rules($startX, $startY, $endX, $endY) {
  $crest: -7px;
  $trough: -12px;
  @keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: $crest;}
    10%   { bottom: $trough; }
    20%   { bottom: $crest; }
    30%   { bottom: $trough; }
    40%   { bottom: $crest; }
    50%   { bottom: $trough; }
    60%   { bottom: $crest; }
    70%   { bottom: $trough; }
    80%   { bottom: $crest; }
    90%   { bottom: $trough; }
    100%  { background-position: $endX $endY; bottom: $crest; }
  }
  @-moz-keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: $crest;}
    10%   { bottom: $trough; }
    20%   { bottom: $crest; }
    30%   { bottom: $trough; }
    40%   { bottom: $crest; }
    50%   { bottom: $trough; }
    60%   { bottom: $crest; }
    70%   { bottom: $trough; }
    80%   { bottom: $crest; }
    90%   { bottom: $trough; }
    100%  { background-position: $endX $endY; bottom: $crest; }
  }
  @-webkit-keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: $crest;}
    10%   { bottom: $trough; }
    20%   { bottom: $crest; }
    30%   { bottom: $trough; }
    40%   { bottom: $crest; }
    50%   { bottom: $trough; }
    60%   { bottom: $crest; }
    70%   { bottom: $trough; }
    80%   { bottom: $crest; }
    90%   { bottom: $trough; }
    100%  { background-position: $endX $endY; bottom: $crest; }
  }
  @-ms-keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: $crest;}
    10%   { bottom: $trough; }
    20%   { bottom: $crest; }
    30%   { bottom: $trough; }
    40%   { bottom: $crest; }
    50%   { bottom: $trough; }
    60%   { bottom: $crest; }
    70%   { bottom: $trough; }
    80%   { bottom: $crest; }
    90%   { bottom: $trough; }
    100%  { background-position: $endX $endY; bottom: $crest; }
  }
  @-o-keyframes animatedBoat {
    0%    { background-position: $startX $startY; bottom: $crest;}
    10%   { bottom: $trough; }
    20%   { bottom: $crest; }
    30%   { bottom: $trough; }
    40%   { bottom: $crest; }
    50%   { bottom: $trough; }
    60%   { bottom: $crest; }
    70%   { bottom: $trough; }
    80%   { bottom: $crest; }
    90%   { bottom: $trough; }
    100%  { background-position: $endX $endY; bottom: $crest; }
  }
}
/**
 * End mixins
 */


// Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700|Inconsolata:400,700);
@mixin sourceFont {
 font-family: 'Source Sans Pro', Helvetica, sans-serif;
 font-weight: $normalWeight;
}
@mixin inconsolataFont {
 font-family: 'Inconsolata', Fixed, monospace;
 font-weight: $normalWeight;
}


body {
 @include sourceFont;
 background: url('/images/pattern-topo.png') left top repeat;
 background-size: 376px;
 font-size: $bodyFontSize;
 line-height: 1.5;
 text-align: center;
}


// Main Header
.main-header {
  padding: 1.5rem 0;
  .logo {
    background: url('/images/logo-with-deis.png') left center no-repeat;
    background-size: 100%;
    float: left;
    height: $helmLogoHeight;
    max-width: $helmLogoWidth;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    @media only screen and (max-device-width: $mobile-maximum-width) {
      background: no-repeat center/100% url('/images/logo-with-deis.png');
      float: none;
      width: 100%;
    }
  }
   nav {
     float: right;
     @media only screen and (max-device-width: $mobile-maximum-width) {
       float: none;
     }
     padding: 1rem 0;
     @media only screen and (max-device-width: $mobile-maximum-width) {
       padding: 0;
     }
     .github {
       @media only screen and (max-device-width: $mobile-maximum-width) {
         display: none;
       }
     }
   }
}


// Fixed Header
.fixed-header {
  $dropdownHeight: 100px;
  background-color: $lightBlue;
  border-bottom: 1px solid darken($lightBlue, 8);
  padding: 1rem 0;
  position: fixed;
  top: -$dropdownHeight;
  transition: all 0.15s;
  visibility: hidden;
  width: 100%;
  z-index: 10;

  .logo {
    background: url('/images/logo.png') left center no-repeat;
    background-size: 100%;
    height: ($gutter * 3);
    margin: 0 auto;
    max-width: ($gutter * 3);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }

  .container {
    padding: 0 1rem;
  }

  &.-show {
    @media only screen and (min-device-width: $mobile-maximum-width + 1) {
      top: 0;
      visibility: visible;
    }
  }
}


// Billboard
.billboard {
  $width: 800px;
  @media only screen and (min-device-width: $mobile-maximum-width + 1) {
    padding: ($gutter * 4) 0 0 0;
  }
  position: relative;
  text-align: center;

  h1, h2 {
    color: $darkBlue;
    font-weight: $normalWeight;
  }
  @media only screen and (min-device-width: $mobile-maximum-width + 1) {
    h1 {
      font-size: $titleFontSize;
    }
  }
  h2 {
    font-size: 1.3rem;
    max-width: $width;
    margin: {
      right: auto;
      left: auto;
    }
    strong {
      font-size: 1.2em;
    }
    @media only screen and (max-device-width: $mobile-maximum-width) {
      margin-top: 1rem;
    }
  }
  .github {
    @media only screen and (min-device-width: $mobile-maximum-width + 1) {
      display: none;
    }
  }

  // water
  &:after {
    $height: 6px;
    background: url('/images/pattern-waves.png') left top repeat-x;
    background-size: $gutter;
    bottom: 0;
    content: '';
    display: block;
    height: $height;
    position: absolute;
    width: 100%;
  }
}

@media only screen and (min-device-width: $mobile-maximum-width + 1) {
  aside.description {
    > p {
      padding-top: $gutter;
    }
    > h2 + p {
      padding-top: 0;
    }
  }
}

// Steps
.code-steps__item {
  padding: ($gutter * 1.5) 0;
  @media only screen and (max-device-width: $mobile-maximum-width) {
    padding-bottom: 0;
  }
  .description {
    text-align: left;
    @media only screen and (min-device-width: $mobile-maximum-width + 1) {
      float: left;
      padding: 1rem;
      width: percentage(1/3);
    }

    h2 {
      font-size: 2rem;
      @media only screen and (min-device-width: $mobile-maximum-width + 1) {
        margin: {
          top: 0;
        }
      }
    }

    p {
      strong {
        font-size: 1.2em;
        line-height: 0.8em;
        color: gold;
      }
      @media only screen and (max-device-width: $mobile-maximum-width) {
        + p {
          text-align: right;
        }
      }
    }
  }
  .console {
    @media only screen and (min-device-width: $mobile-maximum-width + 1) {
      float: left;
      padding: 1rem;
      width: percentage(2/3);
    }

    code {
      $border-radius: 4px;
      background-color: $white;
      -webkit-border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      -ms-border-radius: $border-radius;
      -o-border-radius: $border-radius;
      border-radius: $border-radius;
      color: $black;
      display: block;
      margin-top: ($gutter / 2);
      padding: 1rem;
      text-align: left;
      overflow: scroll;
      line-height: 1em;
      @media only screen and (max-device-width: $mobile-maximum-width) {
        margin-top: $gutter;
        font-size: 0.75em;
      }
      #get-helm-sh {
        @media only screen and (min-device-width: $mobile-maximum-width + 1) {
          font-size: 1.2em;
        }
      }

      +p {
        @media only screen and (max-device-width: $mobile-maximum-width) {
          display: none;
        }
        position: relative;
        float: left;
        left: $gutter;
        margin-bottom: -($gutter * 1.5);
      }
    }

    .line {
      display: block;
      margin-bottom: 0.5rem;
      text-indent: -1em;
      padding-left: 1em;
      @media only screen and (min-device-width: $mobile-maximum-width + 1) {
        font-size: 0.875em;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .code-term {
      $border: 1px;
      background-color: $whitePastel;
      border: $border solid darken($whitePastel, 10);
      border-radius: $border;
      color: $pink;
      display: inline-block;
      font-family: monospace, serif;
      font-size: 0.875em;
      padding: 0 0.35em;
      text-indent: initial;
      line-height: 1.5;
      @media only screen and (max-device-width: $mobile-maximum-width) {
        font-weight: ($normalWeight * 1.5);
      }
    }
  }

  &:last-child {
    .console {
      background: url('/images/fish.png') center bottom no-repeat;
      background-size: $fishSize;
      padding-bottom: $fishDepth;
      @media only screen and (max-device-width: $mobile-maximum-width) {
        padding-bottom: $fishDepth - ($gutter * 1.5);
        margin-bottom: $gutter;
      }
    }
  }
}

.mentions {
  display: none;
  background-color: $whitePastel;
  color: $darkBlue;
  @media only screen and (max-device-width: $mobile-maximum-width) {
    display: block;
    padding: ($gutter * .75) 0;
  }
}

.panel.panel--contribute {
  background-color: $whitePastel;
  @media only screen and (max-device-width: $mobile-maximum-width) {
    padding-bottom: ($gutter * 1.5);
  }

  h2 {
    color: $darkBlue;
    @media only screen and (min-device-width: $mobile-maximum-width + 1) {
      font-size: ($gutter * 2);
    }
  }
  p {
    font-size: 1.1rem;
    font-weight: $lightWeight;
  }
  .buttons {
    margin-top: $gutter;
  }
  .button {
    font-size: inherit;
    margin: 0.5rem;
    @media only screen and (max-device-width: $mobile-maximum-width) {
      margin: ($gutter * .75) ($gutter * 1.5);
    }
  }
}

.main-footer {
  background: $darkBlue url('/images/pattern-topo-white.png') left top repeat;
  background-size: 376px;
  color: $white;
  @media only screen and (max-device-width: $mobile-maximum-width) {
    padding: $gutter 0;
  }

  .small-text {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    @media only screen and (max-device-width: $mobile-maximum-width) {
      margin-bottom: 0.5rem;
    }
  }

  .logo {
    max-width: $deisLogoWidth;
  }
}

@media only screen and (min-device-width: $mobile-maximum-width + 1) {
  @include boat-animation-rules(-$boat-size, 25%, 145%, 0);
}

#boat {
  height: 2em;
  @media only screen and (min-device-width: $mobile-maximum-width + 1) {
    $duration: 20s;
    background: url('/images/boat.png') no-repeat;
    background-size: $boat-size;
    height: 169px; //TODO programmatize this!
    position: relative;

    -moz-animation: $boat-animation;
    -webkit-animation: $boat-animation;
    -ms-animation: $boat-animation;
    -o-animation: $boat-animation;
    animation: $boat-animation;
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -ms-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
  }
}

// Panels
.panel {
  @media only screen and (min-device-width: $mobile-maximum-width + 1) {
    padding: ($gutter * 1.5) 0;
  }

  h2 {
    font-size: 2rem;
  }

  &.-blue {
    background-color: $lightBlue;
    color: $white;
  }
}


// Buttons
a.button, button {
  $transitionTime: 0.25s;
  background-color: $lightBlue;
  border-radius: ($gutter / 5);
  color: $white;
  display: inline-block;
  @media only screen and (max-device-width: $mobile-maximum-width) {
    display: block;
  }
  font-size: 0.85rem;
  margin: 0;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  -webkit-transition: all $transitionTime;
  -moz-transition: all $transitionTime;
  -ms-transition: all $transitionTime;
  -o-transition: all $transitionTime;
  transition: all $transitionTime;

  .icon {
    font-size: 1.25em;
    &.-right {
      margin-left: ($gutter / 4);
    }
    &.-left {
      margin-right: ($gutter / 4);
    }
  }
  &:hover {
    background-color: lighten($lightBlue, 10);
  }

  &.-gh {
    background-color: $pink;

    &:hover {
      background-color: lighten($pink, 10);
    }
  }

  &.-cta {
    background-color: $navy;

    &:hover {
      background-color: lighten($navy, 10);
    }
  }

  &.-irc {
    background-color: $yellow;

    &:hover {
      background-color: darken($yellow, 10);
    }
  }

  &.-download {
    padding: ($gutter / 4) ($gutter / 2);
    margin-left: $gutter / 2;
    margin-top: ($gutter * .75);
    background-color: $grey;
    border: 1px solid darken($grey, 10);
    &:hover {
      background-color: darken($grey, 10);
    }
  }

  &.-outline {
    background-color: transparent;
    border: 1px solid $lightBlue;
    color: $lightBlue;

    &:hover {
      background-color: transparent;
      border-color: lighten($lightBlue, 15);
      color: lighten($lightBlue, 15);
    }

    &.-pink {
      border-color: $pink;
      color: $pink;

      &:hover {
        background-color: $pink;
        color: white;
      }
    }
  }

  &.light {
    color: $black;
  }
}
