/**
 * Main units and mixins
 */
$water-color: #37B0E7;
$foreground-color: #277A9F;
$white: #FFFFFF;
$boat-animation: animatedBoat 10s linear infinite;
$main-font-set: Source Sans Pro, Helvetica, sans-serif;
$console-font-set: 'Inconsolata', Fixed, monospace;
$vertical-margin: 25%;
$footer-padding: 4em;
/**
 * End main units
 */

/**
 * Mixins
 */
@mixin boat-animation-rules($startX, $startY, $endX, $endY) {
  @keyframes animatedBoat {
    0% { background-position: $startX $startY; }
    100% { background-position: $endX $endY; }
  }
  @-moz-keyframes animatedBoat {
    0% { background-position: $startX $startY; }
    100% { background-position: $endX $endY; }
  }
  @-webkit-keyframes animatedBoat {
    0% { background-position: $startX $startY; }
    100% { background-position: $endX $endY; }
  }
  @-ms-keyframes animatedBoat {
    0% { background-position: $startX $startY; }
    100% { background-position: $endX $endY; }
  }
  @-o-keyframes animatedBoat {
    0% { background-position: $startX $startY; }
    100% { background-position: $endX $endY; }
  }
}
/**
 * End mixins
 */

/**
 * Helm rules
 */
html, body {
  height: 100%;
}

body {
  background-image: url("/images/topo.png");
  font-family: $main-font-set;
  text-align: center;
}

#top-matter, #coming-soon {
  color: $foreground-color;
  padding-top: 2em;
  margin-left: $vertical-margin;
  margin-right: $vertical-margin;
}

#top-matter {
  .logo {
    float: left;
  }
  .fork {
    float: right;
  }
  .heading {
    padding-top: 3em;
    font-size: 3em;
    font-weight: 300;
  }
  .description {
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 1.5em;
  }
}

#water {
  text-align: left;
  background-color: $water-color;
  padding-left: $vertical-margin;
  padding-right: $vertical-margin;
  .instruct:first-child {
    padding-top: 2em;
  }
  .instruct:last-child {
    padding-bottom: 6em;
  }
  .instruct {
    background-color: $water-color;
    color: $white;
    padding-bottom: 2em;
  }
  .logo {
    visibility: hidden;
  }
  .heading {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }

  .howto {
    overflow: auto;
    .description, .console {
      display: inline-block;
    }
    .description {
      font-size: 0.9em;
      width: 40%;
      float: left;
    }
    .console {
      width: 50%;
      font-family: $console-font-set;
      padding: 1em;
      background-color: $white;
      color: $foreground-color;
      float: right;
    }
  }
}

#contribute {
  overflow: auto;
  background-color: $white;
  color: $foreground-color;
  padding-top: $footer-padding;
  padding-bottom: $footer-padding;
  .heading {
    font-size: 2em;
    font-weight: 400;
  }
  .description {
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 1em;
    font-weight: 400;
  }
  .buttons {
    > * {
      display: inline-block;
      padding-right: 2em;
    }
    > *:last-child {
      padding-right: 0;
    }
  }
}

#footer {
  background-image: url("/images/topo-inverse.png");
  > * {
    padding-top: $footer-padding;
  }
  > *:last-child {
    padding-bottom: $footer-padding;
  }
}

#coming-soon {
  .marquee {
    font-size: 1.5em;
  }
}

@include boat-animation-rules(-30%, 25%, 130%, 0);

#boat {
  background-image: url("/images/boat.png");
  background-repeat: no-repeat;
  height: 149px; //TODO programmatize this!
  margin-bottom: -10px; //TODO programmatize this!

  animation: $boat-animation;
  -moz-animation: $boat-animation;
  -webkit-animation: $boat-animation;
  -ms-animation: $boat-animation;
  -o-animation: $boat-animation;
}

#waves {
  background-image: url("/images/waves.png");
  height: 22px; //TODO programmatize this!
}
/**
 * End helm rules
 */