{{ define "main" }}
<div class="container container-full 
  {{ if eq .Section "docs" }} docs {{ else }} not-docs {{ end }} ">
  {{ partial "sidebar.html" . }}

  <div class="main page" id="scrollpane">
    {{ partial "topbar.html" . }}

    <div class="row">
      <div class="small-1 columns">&nbsp;</div>
      <div class="small-10 columns content-wrap">
        {{ range .Paginator.Pages }}
            {{ .Render "li"}}
        {{ end }}
      </div>
      <div class="small-1 columns">&nbsp;</div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer" }}
{{ partial "cncf.html" . }}
{{ end }}
