/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

main.party {
  padding: 2rem;
}

main.party h1 {
  font-size: 3rem;
}

main.party h2,
.col p {
  font-size: 2rem;
}

main.party h3 {
  font-size: 1.5rem;
}

.svgauto {
  width: 100%;
  height: auto;
}

.col {
  text-align: center;
  padding: 2rem;
}

.logocol {
  padding-bottom: 0;
}

.hazelcol {
  padding-top: 0;
  padding-bottom: 0;
}

.hazel {
  width: 50%;
  height: auto;
}

.menucol {
  border: 2px solid var(--ifm-link-color);
  border-radius: var(--ifm-card-border-radius);
}

.bottomrow {
  margin-top: 1rem;
}

.bottomrow .col {
  --ifm-col-width: 100%;
}

.calendarcol {
  padding-top: 0;
}

.calendarlink {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .bottomrow .col {
    --ifm-col-width: calc(6 / 12 * 100%);
  }

  .calendarcol {
    padding-top: 2rem;
  }

  .calendarlink {
    margin-top: 1rem;
  }
}

/* See HomeCommunity component styles */
.icon {
  vertical-align: middle;
  margin-right: 0.5rem;
  font-size: 1.2em;
}
