{{ $title := site.Title }}
{{ $year  := now.Year }}
<section class="container footer-links">
  <div class="columns clearfix">
    <dl class="column">
      <dt><a href="https://github.com/helm/helm">Helm Project</a></dt>
      <dd><a href="/blog">Blog</a></dd>
      <dd><a href="https://www.cncf.io/community/kubecon-cloudnativecon-events/">Events</a></dd>
      <dd><a href="/docs/intro/quickstart/">Quick Start Guide</a></dd>
      <dd><a href="https://github.com/cncf/foundation/blob/master/code-of-conduct.md">Code of Conduct</a></dd>
    </dl>

    <dl class="column">
      <dt><a href="https://artifacthub.io/">Charts</a></dt>
      <dd><a href="/docs/topics/charts/">Introduction</a></dd>
      <dd><a href="/docs/howto/charts_tips_and_tricks/">Chart tips &amp; tricks</a></dd>
      <dd><a href="/docs/chart_template_guide/">Developing Charts</a></dd>
      <dd><a href="https://artifacthub.io/">Search 800+ Charts</a> <i class="fa fa-external"></i></dd>
    </dl>

    <dl class="column">
      <dt><a href="https://github.com/helm/community/blob/main/communication.md">Development</a></dt>
      <dd><a href="https://kubernetes.slack.com/messages/C51E88VDG">#helm-dev</a> <em>(slack)</em></dd>
      <dd><a href="https://github.com/helm/helm/blob/main/CONTRIBUTING.md">Contribution Guide</a></dd>
      <dd><a href="https://github.com/helm/helm/blob/main/OWNERS">Maintainers</a></dd>
      <dd><a href="https://github.com/helm/community/blob/main/communication.md#meetings">Weekly Meetings</a></dd>
    </dl>

    <dl class="column">
      <dt><a href="https://github.com/helm/community">Community</a></dt>
      <dd><a href="https://kubernetes.slack.com/messages/C0NH30761" title="#helm-users on Slack">#helm-users</a> <em>(slack)</em></dd>
      <dd><a href="https://lists.cncf.io/g/cncf-helm/topics">Mailing List</a></dd>
      <dd><a href="https://github.com/cncf/artwork/tree/master/projects/helm">Logos</a> &amp; <a href="https://github.com/helm/community/tree/main/art">Art</a></dd>
      <dd><a href="https://twitter.com/helmpack">Twitter</a></dd>
    </dl>
  </div>

  <div class="columns has-text-left cncf-wrap">
    <div class="column is-two-thirds">
      <a href="https://www.cncf.io/" title="Cloud Native Computing Foundation" target="_blank">
        <p class="lead">{{ T "footer_cncf_status" }}</p>
      </a>
    </div>

    <div class="column is-one-third has-text-right">
      <a href="https://www.cncf.io/" title="Cloud Native Computing Foundation" target="_blank">
        <img src="/img/cncf-white.svg" alt="We are a Cloud Native Computing Foundation project" class="">
      </a>
    </div>
  </div>

  <hr />

  <div class="copyright">
    <p>
      &copy; {{ $title }} Authors {{ $year }} | Documentation distributed under <a href="https://creativecommons.org/licenses/by/4.0">CC-BY-4.0</a>
    </p>

    <p>
      &copy; {{ $year }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage</a> page.
    </p>
  </div>
</section>
