<footer>
  <div class="columns helm-contrib-logos">
    <div class="column has-centered-text">
      <img src="/img/helm.svg" style="max-width: 140px;" alt="Helm is supported by and built with a community of over 250 contributors" class="helm-logo">

      <hr>
      <p class="contributors">{{ T "footer_support_title" }}</p>
      <hr>

      <div class="contrib-logos columns">
	<!-- Add to list in alphabetical order. -->
        <div class="column">
          <a target="_blank" href="https://bitnami.com/"><img src="/img/logowall/bitnami.png" alt="Bitnami"></a>

          <a target="_blank" href="https://www.codecentric.de"><img src="/img/logowall/codecentric.png" alt="codecentric AG"></a>

          <a target="_blank" href="https://codefresh.io/"><img src="/img/logowall/codefresh.png" alt="Codefresh"></a>

          <a target="_blank" href="https://google.com/"><img src="/img/logowall/google.png" alt="Google"></a>

          <a target="_blank" href="https://ibm.com"><img src="/img/logowall/ibm.png" alt="IBM"></a>

          <a target="_blank" href="https://microsoft.com/"><img src="/img/logowall/microsoft.png" alt="Microsoft"></a>

          <a target="_blank" href="https://montreal.ca"><img src="/img/logowall/montreal.png" alt="Montreal"></a>

          <a target="_blank" href="https://www.samsungsds.com"><img src="/img/logowall/samsungsds.png" alt="Samsung SDS"></a>

          <a target="_blank" href="https://suse.com/"><img src="/img/logowall/suse.png" alt="SUSE"></a>

          <a target="_blank" href="https://www.ticketmaster.com/"><img src="/img/logowall/tm.png" alt="Ticketmaster"></a>

        </div>
      </div>

      <p><small>{{ T "footer_support_subtitle" | markdownify }}</small></p>
    </div>
  </div>
</footer>
