</div>
<section class="container footer-links">
  <div class="columns clearfix">
    <dl class="column"> 
      <dt><a href="https://helm.sh">Helm Project</a></dt>
      <dd><a href="https://helm.sh/blog">Blog</a></dd>
      <dd><a href="https://github.com/cncf/foundation/blob/master/code-of-conduct.md">Code of Conduct</a></dd>
      <dd><a href="https://www.cncf.io/events/?tribe_paged=1&tribe_event_display=list&tribe-bar-search=helm">Events</a></dd>
      <dd><a href="https://helm.sh/docs/intro/quickstart/">Quick Start Guide</a></dd>
    </dl>

    <dl class="column">
      <dt><a href="https://hub.helm.sh">Charts</a></dt>
      <dd><a href="https://helm.sh/docs/topics/charts/">Introduction</a></dd>
      <dd><a href="http://helm.sh/docs/howto/charts_tips_and_tricks/">Chart tips &amp; tricks</a></dd>
      <dd><a href="http://helm.sh/docs/chart_template_guide/">Developing Charts</a></dd>
      <dd><a href="https://hub.helm.sh">Search 800+ Charts</a> <i class="fa fa-external"></i></dd>
    </dl>

    <dl class="column">
      <dt><a href="https://github.com/helm/community/blob/master/communication.md">Development</a></dt>
      <dd><a href="https://kubernetes.slack.com/messages/C51E88VDG">#helm-dev</a> <em>(slack)</em></dd>
      <dd><a href="https://github.com/helm/helm/blob/master/CONTRIBUTING.md">Contributing Guide</a></dd>
      <dd><a href="https://github.com/helm/helm/blob/master/OWNERS">Maintainers</a></dd>
      <dd><a href="https://github.com/helm/community/blob/master/communication.md#meetings">Weekly Meetings</a></dd>
    </dl>

    <dl class="column">
      <dt><a href="https://github.com/helm/community">Community Resources</a></dt>
      <dd><a href="https://kubernetes.slack.com/messages/C0NH30761" title="#helm-users on Slack">#helm-users</a> <em>(slack)</em></dd>
      <dd><a href="https://lists.cncf.io/g/cncf-helm/topics">Mailing List</a></dd>
      <dd><a href="https://github.com/cncf/artwork/tree/master/projects/helm">Logos</a> &amp; <a href="https://github.com/helm/community/tree/master/art">Art</a></dd>
      <dd><a href="https://twitter.com/helmpack">Twitter</a></dd>
    </dl>
  </div>
</section>