<ul class="inline right footer-social">
  <li><a href="/index.xml"><i class="fa fa-rss"></i></a></li>
  <li><a href="https://twitter.com/helmpack" target="_blank" class="hide-for-small-only" title="Helm on Twitter"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://slack.k8s.io/" target="_blank" class="hide-for-small-only" title="#helm-users on Slack"><i class="fa fa-slack"></i></a></li>
  <li><a href="https://github.com/helm/helm" target="_blank" class="hide-for-small-only" title="Helm on Github"><i class="fa fa-github"></i></a></li>
</ul>
