{{ $versions  := site.Params.versions }}
{{ $primary   := index (where $versions ".primary" true) 0 }}
{{ $lang      := .Lang }}
{{ $isEnglish := eq $lang "en" }}
{{ $menu      := site.Menus.main }}

<nav class="navbar navbar-top navbar-top-fixed" role="navigation" aria-label="main navigation">
  <div class="container is-fluid">
    
    <div class="navbar-brand">
      <a href="/">
        {{ partial "logo.html" . }}
      </a>
    </div>

    <!-- desktop menu -->
    <div class="navbar-menu is-centered" id="navMenuDocumentation">
      {{ range $menu }}
        {{ if in (print .URL) "http"}}
          <a href="{{ .URL | relLangURL }}" class
          ="navbar-item external" target="_blank">
            {{ .Name }} <span class="icon"><i class="mdi mdi-open-in-new"></i></span>
          </a>
        {{ else }}
          <a href="{{ .URL | relLangURL }}" class="navbar-item">
            {{ .Name }}
          </a>
        {{ end }}
      {{ end }}
    </div>

    <div class="navbar-end is-hidden-mobile">
      <ul class="is-pulled-right">
        <!--
        {{ range .Translations }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ .Language.LanguageName }}
          </a>
        </li>
        {{ end }}
        -->
        <li class="versioner navbar-item has-dropdown is-hoverable">
          {{ with $primary }}
          <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="versioner-trigger navbar-link">
            {{ .version }}{{ with .patch }} {{ end }} <i class="fa fa-caret-down"></i>
          </a>
          {{ end }}
    
          <ul id="drop1" class="navbar-dropdown dropdown-menu f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
            {{ range $versions }}
            <li>
              <a href="{{ .url }}" class="navbar-item">
                {{ .version }}{{ with .patch }} <em>{{ . }}</em>{{ end }}
              </a>
            </li>
            {{ end }}
          </ul>
        </li>
        <li>
          <a class="button is-outlined" href="https://helm.sh/docs/intro/quickstart/">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>