{{ $versions  := site.Params.versions }}
{{ $primary   := index (where $versions ".primary" true) 0 }}
{{ $menu      := site.Menus.main }}

<nav class="navbar navbar-top navbar-top-fixed" role="navigation" aria-label="main navigation">
  <div class="container is-fluid">
    
    <div class="navbar-brand">
      <a href="/">
        {{ partial "nav-logo.html" . }}
      </a>
    </div>

    <!-- desktop menu -->
    <div class="navbar-menu is-centered" id="navMenuDocumentation">
      {{ range $menu }}
        {{ if in (print .URL) "http"}}
          <a href="{{ .URL }}" class
          ="navbar-item external" target="_blank">
            {{ .Name }} <span class="icon"><i class="mdi mdi-open-in-new"></i></span>
          </a>
        {{ else }}
          <a href="{{ .URL | relLangURL }}" class="navbar-item">
            {{ .Name }}
          </a>
        {{ end }}
      {{ end }}
    </div>

    <div class="navbar-end is-hidden-mobile">
      <ul class="is-pulled-right">
        {{ partial "nav-i18n.html" . }}
        {{ partial "nav-versioning.html" . }}
        <li>
          <a class="button not-fixed is-outlined" href="{{ T "action_get_started_link" }}">{{ T "action_get_started" }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
