<li><a href="https://github.com/helm/helm" title="Get Helm">Get Helm</a></li>
<li><a href="{{ .Site.BaseURL}}blog" title="Helm Blog">Blog</a></li>
<li><a href="{{ .Site.BaseURL }}docs" title="Helm Documentation">Docs</a></li>
<li><a href="https://hub.helm.sh/" target="_blank" title="Browse charts for Helm">Charts</a></li>
<li><a href="https://twitter.com/helmpack" target="_blank" class="hide-for-small-only" title="Helm on Twitter"><img src="{{ .Site.BaseURL }}/src/img/twitter.svg" alt="Helm on twitter" /></a></li>
<li><a href="https://github.com/helm/helm" target="_blank" class="hide-for-small-only" title="Helm on Github"><img src="{{ .Site.BaseURL }}/src/img/github.svg" alt="Github" /></a></li>