{{ $docsHome      := .FirstSection }}
{{ $docsSections  := where site.Sections "Section" "docs" }}
<aside class="left-off-canvas-menu" id="off-canvas-navigation" data-topbar>
  <div class="drawer-wrap">

    <ul class="off-canvas-list current sidebar-main">
      <li>
        <a class="sidebar-nav-item" href="/docs">
          <span class="ripple">Docs Home <span></span></span>
        </a>
      </li>
      {{ range $docsSections }}
      {{ range .Sections }}
      {{ .Render "section-link" }}

      {{ range .Sections }}
      {{ .Render "section-link" }}
      {{ end }}
      {{ end }}

      {{ range .Pages }}
      {{ if .Title }}
      {{ .Render "section-link" }}
      {{ end }}
      {{ end }}
      {{ end }}
    </ul>

    <div class="drawer-line"></div>

    <div class="button-wrap">
      <a href="https://github.com/helm/helm" class="button small primary expand email-support"><i class="fa fa-github"></i> Contribute to Docs</a>
    </div>

  </div>
</aside>
