{{ $docsHome      := .FirstSection }}

<input type="checkbox" class="hamburger-trigger" />
<small class="hamburger">
  <span></span>
  <span></span>
  <span></span>
</small>

<div class="sidebar">
  <div class="is-visible-mobile is-hidden-tablet" id="sidebar-toggle">Browse Docs <span class="icon"><i class="mdi mdi-arrow-down"></i></span></div>

  <div class="sidebar-content-wrapper">
    <div class="search-container">
      <input id="q" placeholder="Search..." autofocus>
      <span class="icon"><i class="mdi mdi-magnify"></i></span>
    </div>

    <!-- <div class="sidebar-wrap"> -->
    <nav class="sidebar-nav">

      <ul class="current sidebar-main">
        <li class="sidebar-nav-item toctree-l1">
          <a class="reference internal" href="{{ $docsHome.RelPermalink }}" state="">
            <span class="ripple">
              {{ $docsHome.Title }}
            </span>
          </a>
        </li>

        {{ range (where .Site.Pages "Section" "docs") }}
          {{ range .Sections }}
            {{ if .Title }}
              {{ .Render "section-link" }}
            {{ end }}
          {{ end }}
        {{ end }}

      </ul>
    </nav>

    <aside class="sidebar-buttons is-hidden-mobile">
      <div class="button-wrap">
        <a href="https://github.com/helm/helm-www#contributing" class="button is-outline is-fullwidth">Contribute to Docs</a>
      </div>
    </aside>
  </div>
</div>