{{ define "title" }}
Helm | Blog
{{ end }}

{{ define "main" }}
<div class="blog-layout">

  <div class="main blog page" id="scrollpane">
    {{ partial "banner.html" . }}
    {{ partial "nav.html" . }}
    {{ partial "nav-fixed.html" . }}

    <div class="row">
      <div class="small-1 columns">&nbsp;</div>
      <div class="small-10 columns content-wrap">        
        
        {{ range (.Paginate .Pages).Pages }}
        <article>
          <header>
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <p class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
          </header>
          
          <p>
            {{ .Summary }}
            {{ if .Truncated }}
              <a href="{{ .RelPermalink }}">Read More…</a>
            {{ end }}
          </p>
        </article>
        {{ end }}

        <div class="pagination">
          {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
          {{ end }}
          {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
          {{ end }}
        
          <span>{{ .Paginator.PageNumber }}</span>
        </div>

      </div>
      <div class="small-1 columns">&nbsp;</div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
