<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include header.html %}
    <header class="fixed-header" data-purpose="fixed-header">
      <div class="container">
        <h1 class="logo">Helm</h1>
      </div>
    </header>

    <section class="billboard">
      <div class="container">
        <h1>The package manager for Kubernetes</h1>
        <h2><strong>Helm</strong> is the best way to find, share, and use software built for Kubernetes.</h2>
      </div>
      <div id="boat"></div>
    </section>


    <section class="panel -blue" data-purpose="code-steps">
      <div class="code-steps">
        <div class="code-steps__item container group">
          <aside class="description">
            <h2>Get Helm</h2>
            <p>Get the latest version of helm.</p>
          </aside>
          <article class="console">
            <code>
              <div class="line"><span class="code-term" onclick="selectElement(this)">$ curl -sS https://get.helm.sh | bash</span></div>
            </code>
          </article>
        </div>
        <div class="code-steps__item container group">
          <aside class="description">
            <h2>Update</h2>
            <p>Sync your local helm environment with the latest updates from the community. Helm calls a packaged unit of kubernetes software a <strong>chart</strong>.</p>
          </aside>
          <article class="console">
            <code>
              <div class="line"><span class="code-term">$ helm update</span></div>
              <div class="line">---> Cloning into '$HOME/.helm/cache/charts'...</div>
              <div class="line">---> Updating cache from https://github.com/deis/charts</div>
              <div class="line">---> Done</div>
            </code>
          </article>
        </div>
        <div class="code-steps__item container group">
          <aside class="description">
            <h2>Search</h2>
            <p>Discover which charts have already been mapped.</p>
          </aside>
          <article class="console">
            <code>
              <div class="line"><span class="code-term">$ helm search redis</span></div>
              <div class="line">--->    redis-cluster (redis-cluster 0.0.5) - Highly available Redis cluster with multiple sentinels and standbys.</div>
              <div class="line">--->    redis-standalone (redis-standalone 0.0.1) - Standalone Redis Master</div>
            </code>
          </article>
        </div>
        <div class="code-steps__item container group">
          <aside class="description">
            <h2>Investigate</h2>
            <p>Get detailed info on a chart.</p>
          </aside>
          <article class="console">
            <code>
              <div class="line"><span class="code-term">$ helm info redis-cluster</span></div>
              <div class="line">Name: redis-cluster</div>
              <div class="line">Version: 0.0.5</div>
              <div class="line">Description: Highly available Redis cluster with multiple sentinels and standbys.</div>
              <div class="line">Details: This package provides a highly available Redis cluster with multiple sentinels and standbys. Note the `redis-master` pod is used for bootstrapping only and can be deleted once the cluster is up and running.</div>
            </code>
          </article>
        </div>
        <div class="code-steps__item container group">
          <aside class="description">
            <h2>Install</h2>
            <p>Apply the chart to your kubernetes cluster!</p>
            <p>helm + k8s = &#128525</p>
          </aside>
          <article class="console">
            <code>
              <div class="line"><span class="code-term">$ helm install redis-cluster</span></div>
              <div class="line">---> No chart named "redis-cluster" in your workspace. Fetching now.</div>
              <div class="line">---> Fetched chart into workspace /Users/gabriel/.helm/workspace/charts/redis-cluster</div>
              <div class="line">---> Running `kubectl create -f` ...</div>
              <div class="line">services/redis-sentinel</div>
              <div class="line">pods/redis-master</div>
              <div class="line">replicationcontrollers/redis</div>
              <div class="line">replicationcontrollers/redis-sentinel</div>
              <div class="line">---> Done</div>
            </code>
          </article>
        </div>
      </div>
    </section>

    <section class="panel panel--contribute">
      <h2>Contribute</h2>
      <p>We want you to contribute!</p>
      <div class="buttons">
        <a href="https://deis.com/contact" class="button -secondary"><i class="icon -left ion-ios-email"></i> Drop us a line</a>
        <a href="https://github.com/deis/helm" class="button -cta"><i class="icon -left ion-social-github"></i> Fork on Github</a>
      </div>
    </section>

    <footer class="main-footer panel">
      <p class="small-text">A project by the folks at</p>
      <a href="http://deis.com"><img class="logo" src="/images/deis-logo-white.png" alt="a deis project"></a>
    </footer>

  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{site.baseurl}}/javascripts/ui.js"></script>
<script src="{{site.baseurl}}/javascripts/konami.js"></script>
<script>
  window.onload = function () {
    /*var boat = document.getElementById('boat');
    var boatOffset = Number(window.getComputedStyle(boat).marginBottom.split('px')[0]);
    var topMatter = document.getElementById('top-matter');
    var waves = document.getElementById('waves');
    var height = window.innerHeight -
        (topMatter.offsetHeight + waves.offsetHeight + boat.offsetHeight) - boatOffset;
    document.getElementById("water").style.height = height + "px";*/
    var easter_egg = new Konami('https://www.youtube.com/watch?v=7SqC_m3yUDU');
  };
</script>
