<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include header.html %}
    <header class="fixed-header" data-purpose="fixed-header">
      <div class="container">
        <h1 class="logo">Helm</h1>
      </div>
    </header>

    <section class="billboard">
      <div class="container">
        <h1>A package manager for Kubernetes</h1>
        <h2>Helm helps you manage pod, replication controller, and service manifests. Helm is the best way to find software built for Kubernetes.</h2>
      </div>
      <div id="boat"></div>
    </section>


    <section class="panel -blue" data-purpose="code-steps">
      <div class="code-steps">
        <div class="code-steps__item container group">
          <aside class="description">
            <h2>Install</h2>
            <p>Instructions description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in metus ante. Nam at sagittis quam. Integer et mauris quis purus dignissim convallis. Vivamus feugiat justo nec tristique accumsan.</p>
          </aside>
          <article class="console">
            <code>
              <div class="line">$ helm help</div>
            </code>
          </article>
        </div>
        <div class="code-steps__item container group">
          <aside class="description">
            <h2>Usage</h2>
            <p>Instructions description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in metus ante. Nam at sagittis quam. Integer et mauris quis purus dignissim convallis. Vivamus feugiat justo nec tristique accumsan.</p>
          </aside>
          <article class="console">
            <code>
              <div class="line">$ <span class="code-term">helm use</span></div>
              <div class="line">$ <span class="code-term">helm other command</span></div>
              <div class="line">$ stuuuuuufffffff</div>
            </code>
          </article>
        </div>
      </div>
    </section>

    <section class="panel panel--contribute">
      <h2>Contribute</h2>
      <p>We want you to contribute!</p>
      <div class="buttons">
        <a href="https://deis.com/contact" class="button -secondary"><i class="icon -left ion-ios-email"></i> Drop us a line</a>
        <a href="https://github.com/deis/helm" class="button -cta"><i class="icon -left ion-social-github"></i> Fork on Github</a>
      </div>
    </section>

    <footer class="main-footer panel">
      <p class="small-text">A project by the folks at Deis</p>
      <a href="http://deis.com"><img class="logo" src="/images/deis-logo-white.png" alt="a deis project"></a>
    </footer>

  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{site.baseurl}}/javascripts/ui.js"></script>
<script src="{{site.baseurl}}/javascripts/konami.js"></script>
<script>
  window.onload = function () {
    /*var boat = document.getElementById('boat');
    var boatOffset = Number(window.getComputedStyle(boat).marginBottom.split('px')[0]);
    var topMatter = document.getElementById('top-matter');
    var waves = document.getElementById('waves');
    var height = window.innerHeight -
        (topMatter.offsetHeight + waves.offsetHeight + boat.offsetHeight) - boatOffset;
    document.getElementById("water").style.height = height + "px";*/
    var easter_egg = new Konami('https://www.youtube.com/watch?v=7SqC_m3yUDU');
  };
</script>
