<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include header.html %}

    <section class="billboard">
      <div class="container">
        <h1>A package manager for Kubernetes</h1>
        <h2>Helm helps you manage pod, replication controller, and service manifests. Helm is the best way to find software built for Kubernetes.</h2>
      </div>
      <div id="boat"></div>
    </section>


    <div id="water">
      <div class="instruct">
        <div class="logo"><img src="/images/deis-logo.png" alt="deis"></div>
        <div class="heading">
          Install
        </div>
        <div class="howto">
          <div class="description">
            This is how you install. This is how you install. This is how you install. This is how you install. This is how you install. This is how you install.
          </div>
          <div class="console">
            $ helm help
          </div>
        </div>
      </div>
      <div class="instruct">
        <div class="logo"><img src="/images/deis-logo.png" alt="deis"></div>
        <div class="heading">
          Usage
        </div>
        <div class="howto">
          <div class="description">
            This is how you use. This is how you use. This is how you use. This is how you use. This is how you use. This is how you use.
          </div>
          <div class="console">
            $ helm use
          </div>
        </div>
      </div>
    </div>
    <div id="contribute">
      <div class="heading">
        Contribute
      </div>
      <div class="description">
        We want you to contribute!
      </div>
      <div class="buttons">
        <div class="email"><img src="/images/drop-us-a-line.png" alt="contact deis"></div>
        <div class="fork"><img src="/images/fork-us-button.png" alt="fork us on github"></div>
      </div>
    </div>
    <div id="footer">
      <div class="logo"><img src="/images/deis-project.png" alt="a deis project"></div>
    </div>
  </body>
</html>
<script src="{{site.baseurl}}/javascripts/konami.js"></script>
<script>
  window.onload = function () {
    /*var boat = document.getElementById('boat');
    var boatOffset = Number(window.getComputedStyle(boat).marginBottom.split('px')[0]);
    var topMatter = document.getElementById('top-matter');
    var waves = document.getElementById('waves');
    var height = window.innerHeight -
        (topMatter.offsetHeight + waves.offsetHeight + boat.offsetHeight) - boatOffset;
    document.getElementById("water").style.height = height + "px";*/
    var easter_egg = new Konami('https://www.youtube.com/watch?v=7SqC_m3yUDU');
  };
</script>
