<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="go-import" content="helm.sh/{{.Params.Name}} git {{.Params.RepoURL}}">
  <meta name="go-source" content="helm.sh/{{.Params.Name}} git {{.Params.RepoURL}} {{.Params.RepoURL}}/tree/{{.Params.Branch}}{/dir} {{.Params.RepoURL}}/blob/{{.Params.Branch}}{/dir}/{file}#L{line}">
  <meta http-equiv="refresh" content="0; url={{.Params.RepoURL}}">
</head>

<body>
  Nothing to see here; <a href="{{.Params.RepoURL}}">move along</a>.
</body>

</html>
